body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f3f6fa;
}

.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  width: 22%;
  border-radius: 14px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card .value {
  font-size: 34px;
  margin-top: 10px;
  color: #0D47A1;
  font-weight: 700;
}

/* MAP */
#map {
  flex-grow: 1;
  margin: 15px;
  border-radius: 14px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}
